html, body {
    margin: 10;
    padding: 10;
    font-family: 'Roboto', sans-serif;
    color: #001E62;
}

h1 {
    font-size: 5rem;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-size: 1.75rem;
    text-align: center;
    color: #256BA2;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
    margin: 0 auto;
}

.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: #256BA2;
    border: 5px solid white;
    box-sizing: border-box;
}

.wall {
    background-color: #001E62;
}

.power-pellet {
    background-color: #CA3604;
    border-radius: 7.5px;
}

.pacman {
    background-color: #FFCD00;
    border-radius: 7.5px;
    border: none;
}

.blinky {
    background-color: red;
    border: none;
}

.pinky {
    background-color: pink;
    border: none;
}

.inky {
    background-color: aqua;
    border: none;
}

.clyde {
    background-color: orange;
    border: none;
}

.scared-ghost {
    background-color: purple;
    border: none;
}

#overlay-gameover,
#overlay-win {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

#modal-gameover,
#modal-win {
    background-color: #f8f8f8;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    height: 200px;
    position: relative;
    top: 30%;
    text-align: center;
}

#modal-gameover h1,
#modal-win h1{
    margin: .6em auto;
}